* {
    margin: 0px;
    padding: 0px;
    background-color: #535353;
    box-sizing: border-box;
}

#container {
    text-align: center;
}

.row{
    border: 20px solid pink;
}

.col {
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    margin: 40px 0px 20px 0px;

} 

.footer {
    margin-top: 100px;
    padding: 10px;
    color: maroon;
    font-size: 10px;
}

#login #register {
    width: 200px;
    height: 50px;
    color: #C2C2C2;
}

